<nav id="main-menu">
     <ul class="nav-bar">
          <li><a href="/profile">Profile</a></li>
          <li><a href="#">Search</a></li>
          <li><a href="/logout">Logout</a></li>
     </ul>
</nav>