<div class="container">
  <h1>Sunlight Project</h1>
  <p>Search campaign contributions</p>

</div>

<div>
  <a href="/login" class='button'>Log In</a>

  <a href="/register" class="button">Register</a>
</div>